root = true

[*.{kt,kts}]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

# Android / Compose
ktlint_code_style = android_studio

# Rules
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_package-name = disabled
ktlint_standard_function-naming = disabled

# Compose-friendly
ktlint_standard_trailing-comma-on-call-site = enabled
ktlint_standard_trailing-comma-on-declaration-site = enabled
ktlint_standard_chain-wrapping = enabled